.team__list{
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px;
  flex-flow: row wrap;
  
}

.team__item {
  width: 32%;
  
}

.team__image {
  display: flex;
   align-items: center;
   justify-content: center;
position:relative;
}

.team__image-pic{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-color: #cfd8dc;
  margin-top: 20px;
}
.team__image-text{
  position:absolute;  
color: #fff;
font-size: 30px;
margin-left: 10px;
}
.team__title{
  font-size: 18px;
}
.team__post{
  color: #4b73b5;
  font-weight: bold;
}
.team__text{
  
}
.partners__list{
  display: inline-flex;
 

}
.partners__list {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;

  }
  
  .partners__item {
    margin-top: 30px;
    margin-bottom: 30px;
  width: 30%;

  }

  .partners__image--bmp:hover {
    background-image: url('../img/icons/partner-bmp.png');
  }
  .partners__image--tetra:hover {
    background-image: url('../img/icons/partner-tetra.png');
  }
  .partners__image--sib:hover {
    background-image: url('../img/icons/partner-sib.png');
  }
  .partners__image-one:hover {
    background-image: url('../img/icons/partner-one.png');
  }
  .partners__image--bing:hover {
    background-image: url('../img/icons/partner-bing.png');
  }
  .partners__image--ural:hover {
    background-image: url('../img/icons/partner-ural.png');
  }




 