@font-face {
  font-family: 'Roboto Light';
  src: url('subset-Roboto-Light.woff2') format('woff2'),
      url('subset-Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto LightItalic';
  src: url('subset-Roboto-LightItalic.woff2') format('woff2'),
      url('subset-Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('subset-Roboto-Bold.woff2') format('woff2'),
      url('subset-Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}